body {
  background-color: #444;
  font-family: 'Nobile', sans-serif;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 2px #aaa;
}

.title.big {
  text-align: center;
  font-size: 80px;
}

ul.links {
  text-align: center;
  margin: 0 auto;
}

ul.links li {
  list-style-type: none;
  display: inline;
  padding: 0px 15px 0px 15px;
}

.section .title {
  font-size: 40px;
  color: #444;
}

.section {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  width: 1000px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.section p {
  padding-left: 10px;
  line-height: 1.75;
}

.section .heads-up {
  margin: 10px;
  padding: 0px 15px 0px 5px;
  background-color: #ffc;
  border: 1px solid #cc0;
}

.section.wide {
  width: 95%;
  min-width: 1000px;
}

.section a {
  color: #99C;
  font-weight: bold;
  text-decoration: none;
}

.section li {
  margin-top: 10px;
}

.section a:hover {
  text-decoration: underline;
}

.section img {
  text-align: center;
}


.more {
  display: none;
}

pre {
  margin: 5px 35px 0px 35px;
  padding: 0px 15px 0px 15px;
  background-color: #eee;
  border: 1px solid #777;
}

code {
  font-size: 1.3em;
}

pre.terminal {
  font-size: 1.1em;
  overflow: auto;
  color: #fff;
  background-color: #000;
}

table {
  margin: 0 auto;
}

thead {
  color: #fff;
  background-color: #000;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

td,th {
  padding: 10px;
}