sudo: required

language: bash

services:
  - docker
addons:
  sonarcloud:
    organization: "klieber-github"
    token:
      secure: "DQAuVUJIQG3w9TlsIU24rcCjZUnqtkGa2uFWjyN4dYL/VRZp9J8SYhpsqef8dOtGgzPVsxyRumqhXwFo1/h1HJp1O9d8IVMC+AGgzLZeH1kApODcHNTIaAMs15h+LDHwKSODMV9wjlssL3q5qD97DbjBbjOrQymkGyga4/gNc6Q="
before_install: docker-compose pull
before_script: docker-compose run --user='root' test-suite chown -R build:build .
script: docker-compose run test-suite
