sudo: required

language: bash

services:
  - docker

branches:
  only:
  - master

addons:
  sonarcloud:
    organization: "klieber-github"
    token:
      secure: "DQAuVUJIQG3w9TlsIU24rcCjZUnqtkGa2uFWjyN4dYL/VRZp9J8SYhpsqef8dOtGgzPVsxyRumqhXwFo1/h1HJp1O9d8IVMC+AGgzLZeH1kApODcHNTIaAMs15h+LDHwKSODMV9wjlssL3q5qD97DbjBbjOrQymkGyga4/gNc6Q="
before_install: docker-compose pull
script: docker-compose run test-suite
