

Server started--it's time to spec some JavaScript! You can run your specs as you develop by visiting this URL in a web browser:

 %s

The server will monitor these two directories for scripts that you add, remove, and change:

  source directory: %s

  spec directory: %s

Just leave this process running as you test-drive your code, refreshing your browser window to re-run your specs. You can kill the server with Ctrl-C when you're done.
