<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Jasmine Test Runner</title>
		
		<!-- Jasmine CSS -->
		$cssDependencies$
		
		<!-- Jasmine JavaScript -->
		$javascriptDependencies$
		
		<!-- Project Production Source Files -->
		$sources$

		<!-- Project Spec Files -->
		$specs$	
	</head>
	<body>
		<script type="text/javascript">
		  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
		  jasmine.getEnv().execute();
		</script>
	</body>
</html>
  